<div class="contact-page-content">
  <div class="contact-div-form">
    Contact form
  </div>
  <div class="tint-img">
    <%= image_tag('contact-page.png', class:"contact-header-img")%>
  </div>
</div>
