<div class="tint-img">
  <%= image_tag('homepage.jpg', class:"background-image")%>
</div>

<div class="neon-glow-title", style="padding-top: 18%;">
  <p><a href="#">FrankOH!</a></p>
</div>

<div class="intro">
  <h2>I'M FRANKOH!</h2>
  <p class="description">
    “I truly believe that if we keep telling the Christmas story, singing the Christmas songs, and living the Christmas spirit, we can bring joy and happiness and peace to this world.”
  </p>
</div>
