<div class="video-page-content">
<%= image_tag('purple-city.jpg', class:"background-image")%>
<%= image_tag('anime-frankoh.png', class:"top-background-image")%>
</div>

<div class="neon-glow-title", style="padding-top: 43%;">
  <!-- <p><a href="#">FrankOH!</a></p> -->
</div>

<!-- <div class="intro">
  <p class="description">
    “I'm FrankOH! I truly believe that if we keep telling the Christmas story, singing the Christmas songs, and living the Christmas spirit, we can bring joy and happiness and peace to this world.”
  </p>
</div> -->
