<div class="tint-img">
  <%= image_tag('_DSC5257.jpg', class:"background-image", style:"height: 800px;")%>
</div>

<div class="ohriginals-title">
  <%= image_tag('neon-title-2.png', class:"background-image", style:"height: 800px;")%>
</div>

<div class="container">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Coming After You</h4>
      <p class="media-info">0:00</p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Whatever You Like</h4>
      <p class="media-info">0:00</p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Hear You Scream</h4>
      <p class="media-info">0:00</p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">I'm Not Sayin'</h4>
      <p class="media-info">0:00</p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">COMING SOON</h4>
      <p class="media-info">0:00</p>
    </div>
  </div>
</div>
