<div class="video-page-content">
  <div class="tint-img">
    <%= image_tag('ins-header.png', class:"gallery-header-img")%>
  </div>
  <div class="gallery-title">
    <p><a href="#">VIDEOS</a></p>

    <!-- Carousel Goes Here -->
  </div>
</div>
