@import "bootstrap-sprockets";
@import "bootstrap";

$pink-purple: #be84cb;
$darkblue-grey: #203544;
$purple: #73578d;
$black: #070a0d;
$darkish-purple: #5e4871;
$dark-purple: #4a3e5f;
$bright-purple: #8067ae;
$light-grey: #8c8c94;
$super-dark-purple: #181424;
$indigo: #545c74;

@font-face {
	font-family: 'Lato', sans-serif;
}
