@import "bootstrap-sprockets";
@import "bootstrap";

$pink-purple: #be84cb;
$darkblue-grey: #203544;
$purple: #73578d;
$black: #070a0d;
$darkish-purple: #5e4871;
$dark-purple: #4a3e5f;
$bright-purple: #8067ae;
$light-grey: #8c8c94;
$super-dark-purple: #181424;
$indigo: #545c74;

//Carousel
$duration: 450ms;
$tileWidth: 320px;
$tileHeight: ($tileWidth / (16/9));
$iconSize: 50px;
$growFactor: 1.5; // 1.5 times the original size

$moveLeft: -($tileWidth * ($growFactor - 1) / 2);
$moveRight: $tileWidth * ($growFactor - 1);

@font-face {
  font-family: "njnaruto";
  src: url('/assets/njnaruto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar-default, .container{
  background-color: rgba(0, 0, 0, 0);
  margin-left: 4%;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  font-family: "njnaruto";
  font-size: 16px;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
  color: $bright-purple;
}

.nav {
  padding-left: 10%;
}

.navbar-right {
  margin-right: 10%;
}

.navbar {
  margin: 0;
  border: none;
}

.navbar-brand {
  margin-top: 0;
  padding-top: 0;
  height: 120px;
  float: none;
}

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height: 100%;
}

// Background images
.background-image {
  -webkit-filter: grayscale(80%);
  -webkit-filter: brightness(80%);
  // -webkit-filter: hue-rotate(260deg);
  z-index: -1;
	height: 100%;
	width: 100%;
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
}

.top-background-image {
  -webkit-filter: grayscale(80%);
  -webkit-filter: brightness(80%);
  z-index: -1;
  margin-left: 25%;
  margin-top: 2%;
  height: 100%;
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;

}

.page-content {
  background-color: black;
}

.footer {
  text-align: center;
  margin-top: 4%;
  padding-bottom: 2%;
}

.footer-icon {
  padding: 5px;
  text-align: center;
  display: inline-block;
  width: 42;
  height: 42px;
}

//Doesn't do anything for now
.footer-icon:hover {
  color: $light-grey;
}

.intro {
  text-align: center;
  color: #fff;
  margin: 15%;
  padding-top: 10%;
}

.intro p {
  font-size: 16px;
}

//Ohriginals
.media {
	border-bottom: 1px solid $bright-purple;
	width: 75%;
	padding-top: 0;
  margin-top: 10%;
  margin-left: 10%;
}

.media:first-child {
  margin-top: 0;
}

.media-heading {
  color: #fff;
}

.media:hover {
  background-color: $bright-purple;
  opacity: .5;
  transition: all .3s linear;

}

.media-left img {
  height: 126px;
  width: 189px;
  margin-bottom: 5px;
}

.media-heading, .media-info {
  padding: 5px;
  color: white;
}

// Neon Titles
.neon-glow-title {
  width: 500px;
  color: #fff;
  margin: 0;
  padding-top: 120px;
}

.neon-glow-title {
  font-family: "njnaruto";
  margin: auto;
  text-align: center;
}

.neon-glow-title p {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
}

.neon-glow-title a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.neon-glow-title p:nth-child(1) a {
  color: $light-grey;
  font-family: Roboto, sans-serif;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $bright-purple, 0 0 70px $bright-purple, 0 0 80px $bright-purple, 0 0 100px $bright-purple, 0 0 150px $bright-purple;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $bright-purple, 0 0 35px $bright-purple, 0 0 40px $bright-purple, 0 0 50px $bright-purple, 0 0 75px $bright-purple;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $bright-purple, 0 0 70px $bright-purple, 0 0 80px $bright-purple, 0 0 100px $bright-purple, 0 0 150px $bright-purple;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $bright-purple, 0 0 35px $bright-purple, 0 0 40px $bright-purple, 0 0 50px $bright-purple, 0 0 75px $bright-purple;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $bright-purple, 0 0 70px $bright-purple, 0 0 80px $bright-purple, 0 0 100px $bright-purple, 0 0 150px $bright-purple;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $bright-purple, 0 0 35px $bright-purple, 0 0 40px $bright-purple, 0 0 50px $bright-purple, 0 0 75px $bright-purple;
  }
}

// Gallery
.gallery {
  width: 300px;
  margin: 1.5%;
}

.gallery-img {
  overflow: hidden;
  width: 840px;
  margin: 0 auto;
}

.gallery-title {
  text-align: center;
  color: #fff;
  margin: 0;
  width: 500px;
  margin: auto;
  padding-bottom: 15px;
}

.gallery-header-img {
  z-index: -1;
  height: 90%;
  width: 100%;
  background-size: cover;
  margin: 0;
  border: 0;
}


figure {
  display: inline;
}

.tint {
  position: relative;
  float: left;
  margin-right: 3%;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px;
}

.tint::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  right: -5px;
  background: black;
  opacity: .5;
  transition: all .3s linear;
}

.tint:hover:before {
  background: none;
}

.gallery-title p {
  text-align: center;
  font-size: 6em;
  margin: 20px 0 20px 0;
}

.gallery-title a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.gallery-title p:nth-child(1) a {
  color: $light-grey;
  font-family: Roboto, sans-serif;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

// Contant page
.contact-header-img {
  width: 45%;
  float: right;
}

.contact-div-form {
  width: 55%;
  float:left;
  background-color: #23384D;
  height: 737px;
}

.contact-title {
  margin-top: 5%;
  color: white;
  text-align: center;
}

.form-group label {
  color: white;
  font-weight: 400;
}

.text-muted {
  color: white;
}

.btn-success {
  background: none;
  border-color: white;
}

.btn-success:hover {
  background-color: $bright-purple;
  border-color: $bright-purple;
}

.divider {
  margin-top: 10%;
  border-top: 1px solid $light-grey;
  width: 70%;
}

.columns-container {
  width: 100%;
  padding-bottom: 8%;
  color: white;
  font-size: 16px;
  text-align: center;
}

.left-side {
  margin-left: 25%;
  float: left;
  width: 25%;
}

.right-side {
  margin-right: 25%;
  float: right;
  width: 25%;
}

//Video & Carousel
* {
  box-sizing: border-box
}

a:link
a:hover
a:active
a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}

a:hover {
  color: #7f8c8d
  text-decoration underline;
}

.carousel-container {
  margin: 2rem auto;
  max-width: 1088px;
}

.carousel-row {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.row__inner {
  transition: $duration transform;
  font-size: 0;
  white-space: nowrap;
  margin: 60px 0;
  padding-bottom: 10px; // Account for OS X scroll bar
}

.tile {
  position: relative;
  display: inline-block;
  width: $tileWidth;
  height: $tileHeight;
  margin-right: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;
}

.tile-header {
  text-align: center;
  margin-top: -2.5%;
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 12px;
}

.tile__img {
  width: $tileWidth;
  height: 200px;
  object-fit: cover;
}

.tile__details {
  text-align: center;
  overflow: hidden;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 8px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: $duration opacity;

  &:after
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: black
  }

  &:after {
    margin-top: (-($iconSize / 2));
    margin-left: (-($iconSize / 2));
    width: $iconSize;
    height: $iconSize;
    border: 3px solid #ecf0f1;
    line-height: $iconSize;
    text-align: center;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
  }

  &:before {
    // content: '▶';
    content: '';
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
  }

  .tile:hover & {
    opacity: 1;
  }
}

.tile__title {
  // position: absolute;
  padding: 15px;
  color: white;
  max-width: 200px;
}

// * Hover effects
// We assume when you hover .row, you're also hovering a .tile
// First, move the whole row towards the left
.row__inner:hover {
  transform: translate3d($moveLeft, 0, 0);
}

.row__inner:hover .tile {
  // Fade out every tile
  opacity: .3;
  // And then grow the current tile and make it opaque again
  &:hover {
    transform: scale($growFactor);
    opacity: 1;
  }
}

// And finally move all tiles right of the current tile to the right,
// so its flush against the hovered tile
.tile:hover ~ .tile {
  transform: translate3d($moveRight, 0, 0);
}
