@import "bootstrap-sprockets";
@import "bootstrap";

$pink-purple: #be84cb;
$darkblue-grey: #203544;
$purple: #73578d;
$black: #070a0d;
$darkish-purple: #5e4871;
$dark-purple: #4a3e5f;
$bright-purple: #8067ae;
$light-grey: #8c8c94;
$super-dark-purple: #181424;
$indigo: #545c74;

@font-face {
  font-family: 'Ninja Naruto';
  src: url('/assets/njnaruto.ttf') format('truetype'),
}

.navbar-default, .container{
  background-color: rgba(0, 0, 0, 0);
  margin-left: 4%;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
  color: $bright-purple;
}

.nav {
  padding-left: 10%;
}

.navbar-right {
  margin-right: 10%;
}

.navbar {
  margin: 0;
  border: none;
}

.navbar-brand {
  margin-top: 0;
  padding-top: 0;
  height: 120px;
  float: none;
}

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height: 100%;
}

// Background images
.background-image {
  -webkit-filter: grayscale(80%);
  -webkit-filter: brightness(80%);
  // -webkit-filter: hue-rotate(260deg);
  z-index: -1;
	height: 100%;
	width: 100%;
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
}

.top-background-image {
  -webkit-filter: grayscale(80%);
  -webkit-filter: brightness(80%);
  z-index: -1;
  margin-left: 25%;
  margin-top: 2%;
  height: 100%;
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;

}

.page-content {
  background-color: black;
}

.footer {
  text-align: center;
  margin-top: 4%;
  padding-bottom: 2%;
}

.footer-icon {
  padding: 5px;
  text-align: center;
  display: inline-block;
  width: 42;
  height: 42px;
}

//Doesn't do anything for now
.footer-icon:hover {
  color: $light-grey;
}

.intro {
  text-align: center;
  color: #fff;
  margin: 15%;
  padding-top: 10%;
}

.intro p {
  font-size: 16px;
}

//Ohriginals
.media {
	border-bottom: 1px solid $bright-purple;
	width: 75%;
	padding-top: 0;
  margin-top: 10%;
  margin-left: 10%;
}

.media:first-child {
  margin-top: 0;
}

.media-heading {
  color: #fff;
}

.media:hover {
  background-color: $bright-purple;
  opacity: .5;
  transition: all .3s linear;

}

.media-left img {
  height: 126px;
  width: 189px;
  margin-bottom: 5px;
}

.media-heading, .media-info {
  padding: 5px;
  color: white;
}

// Neon Titles
.neon-glow-title {
  width: 500px;
  color: #fff;
  margin: 0;
  padding-top: 120px;
}

.neon-glow-title {
  margin: auto;
  text-align: center;
}

.neon-glow-title p {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
}

.neon-glow-title a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.neon-glow-title p:nth-child(1) a {
  color: $light-grey;
  font-family: Roboto, sans-serif;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $bright-purple, 0 0 70px $bright-purple, 0 0 80px $bright-purple, 0 0 100px $bright-purple, 0 0 150px $bright-purple;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $bright-purple, 0 0 35px $bright-purple, 0 0 40px $bright-purple, 0 0 50px $bright-purple, 0 0 75px $bright-purple;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $bright-purple, 0 0 70px $bright-purple, 0 0 80px $bright-purple, 0 0 100px $bright-purple, 0 0 150px $bright-purple;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $bright-purple, 0 0 35px $bright-purple, 0 0 40px $bright-purple, 0 0 50px $bright-purple, 0 0 75px $bright-purple;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $bright-purple, 0 0 70px $bright-purple, 0 0 80px $bright-purple, 0 0 100px $bright-purple, 0 0 150px $bright-purple;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $bright-purple, 0 0 35px $bright-purple, 0 0 40px $bright-purple, 0 0 50px $bright-purple, 0 0 75px $bright-purple;
  }
}

// Gallery
.gallery {
  width: 300px;
  margin: 1.5%;
}

.gallery-img {
  overflow: hidden;
  width: 840px;
  margin: 0 auto;
}

.gallery-title {
  text-align: center;
  color: #fff;
  margin: 0;
  width: 500px;
  margin: auto;
  padding-bottom: 15px;
}

.gallery-header-img {
  z-index: -1;
  height: 90%;
  width: 100%;
  background-size: cover;
  margin: 0;
  border: 0;
}


figure {
  display: inline;
}

.tint {
  position: relative;
  float: left;
  margin-right: 3%;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px;
}

.tint::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  right: -5px;
  background: black;
  opacity: .5;
  transition: all .3s linear;
}

.tint:hover:before {
  background: none;
}

.gallery-title p {
  text-align: center;
  font-size: 6em;
  margin: 20px 0 20px 0;
}

.gallery-title a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.gallery-title p:nth-child(1) a {
  color: $light-grey;
  font-family: Roboto, sans-serif;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

// Contant page
.contact-header-img {
  width: 45%;
  float: right;
}

.contact-div-form {
  width: 55%;
  float:left;
  background-color: #23384D;
  height: 737px;
}

.video-page-content {
  background-color: black;
}

.contact-title {
  margin-top: 25%;
  color: white;
  text-align: center;
}

.form-group label {
  color: white;
  font-weight: 400;
}
