<!DOCTYPE html>
<html>
  <head>
    <title>Frank-OH!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/pages/ohriginals">OHRIGINALS</a></li>
          <li><a href="/pages/gallery">GALLERY</a></li>
        </ul>
        <ul class="nav navbar-nav navbar", style="text-align: center;">
          <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-home" style="color: black;"></span>
          </a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/pages/contact">CONTACT</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
